<h1>{{title}} desde {{city}}</h1>
<div class="container ck-content view-cont delay text-xl text-left lg:text-justify margen">
  <!-- Main Content -->
  <p style="text-align:justify;"><span style="color:black;">Durante este fin de semana, cerca de 8 mil entusiastas de
      los tractocamiones se reunieron en la ciudad de León, Guanajuato, para celebrar la cuarta edición de la Fiesta
      Trokera. En este evento, Tool Top Truck Parts, empresa integrante del Grupo Reyes especializada en la
      comercialización de tracto partes, fue una destacada participante.</span></p>
  <p style="text-align:justify;"><span style="color:black;">&nbsp;</span></p>
  <p style="text-align:justify;"><span style="color:black;">Uno de los momentos más esperados por la comunidad trokera
      en&nbsp;el evento, fue el emocionante desfile, donde numerosos vehículos, algunos de ellos modificados, desfilaron
      por una de las&nbsp;principales avenidas de la ciudad, mostrando la pasión y dedicación de la comunidad trokera.
      Tool Top Truck Parts se enorgullece de formar parte de esta celebración y de contribuir al éxito de la
      misma.</span></p>
  <p style="text-align:justify;"><span style="color:black;">&nbsp;</span></p>
  <p style="text-align:justify;">En el estand se llevaron a cabo dinámicas y activaciones, además de entregar
    información de la marca y su ubicación.&nbsp; La presencia de Tool Top Truck Parts en la Fiesta Trokera no solo
    resalta su compromiso con la industria de los tractocamiones, sino también su interés en apoyar y conectar con los
    aficionados y profesionales del sector.</p>
  <p style="text-align:justify;">Durante la fiesta trokera se realizó una exposición de vehículos pesados donde se
    expuso una unidad de Reyma, se realizó una premiación a las unidades más vistosas con modificaciones que los
    hicieran lucir aún más imponentes.</p>
  <p style="text-align:justify;">Los asistentes, en su mayoría operadores y sus familias, disfrutaron de un día lleno de
    música, activaciones y compartieron con el gremio consejos y anécdotas.</p>
  <p style="text-align:justify;">&nbsp;</p>
  <figure><img class="image" src="https://www.saladeprensa.reyma.com.mx/posts/fiesta-troquera.jpg"></figure>
  <p>&nbsp;</p>
@defer(on viewport) {
  <app-comments></app-comments>
}@placeholder {
  <p>Cargando...</p>
}

</div>
<app-user />
<!-- <router-outlet /> -->
